nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 15px;
  left: 120px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
}
nav a:hover {
  margin-right: 20px;
  text-decoration: none;
  color: #ff76d8;
}
nav a.active {
  color: #ff76d8;
}